.row-list {
    .title {
        h4 {
            margin-bottom: -0.5rem;
            font-weight: 700;
        }
        .line {
            width: 6rem;
            height: 6.5px;
            background-color: red;
            display: inline-block;
        }
    }
}